/* css ใช้ตกแต่ง */
body {
    font-family: 'Kanit';
    font-size: 14px;
}

@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(27, 195, 251);
    padding: 20px;
    box-sizing: border-box;
}

.headeer {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.header-from {
    width: 140px;
}

.flex {
    display: flex;
}

.form-input {
    margin-bottom: 10px;
}

input.From,
textarea {
    border: 1px solid black;
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    border: 0;
    width: 50%;
    height: 40px;
}
.message {
    margin-top: 20px;
    padding: 10px;
    display: none;
}
.message.success {
    background-color: rgb(19, 255, 19);
    display: block;
}
.message.danger {
    background-color: rgb(255, 19, 19);
    display: block;
}
@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }
    .headeer{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
}